style
*   {
    box-sizing: border-box;
}

body    {
    margin: 50px;
}

main    {
    padding: 10px;
}

nav {
    background-color: rgb(55, 171, 209);
    color: white;
    height: 200px;
    border-radius: 20px;
}

footer {
    background-color: rgb(9, 52, 70);
    color: white;
    padding: 5px;
    border-radius: 20px;
    font-size: x-small;
}

h1  {
    text-align: center;
    font-display: white;
    padding: 80px;
}

.hd1    {
    text-align: left;
    margin-left: 25%;
    color:  rgb(87, 149, 170);
}

.hd2    {
    text-align: right;
    margin-right: 25%;
    color: rgb(87, 149, 170);
}

.px1 {
    text-align: left;
    margin-right: 25%;
    margin-left: 25%;
    font-size: x-small;
}

.px2 {
    text-align: right;
    margin-right: 25%;
    margin-left: 25%;
    font-size: x-small;
}

h3   {
    text-align: center;
    padding-top: 50px;
}

/*  Using your repository from Day 1:
Create a new branch called daily-challenge
Create media queries for the following breakpoints:
480px
768px
1024px
Change the background color of the header at each breakpoint
Push your changes to your daily-challenge branch  */

@media only screen and (max-width: 1024px) {
    body {
      background-color: lightblue;
    }
  }

@media only screen and (max-width: 768px) {
    body {
      background-color: yellow;
    }
  }

 @media only screen and (max-width: 600px) {
    body {
      background-color: hotpink;
    }
  }

